extends base

block body
  div#map
  div#closeList
    | X
  div#list
      br
      center
        input(type='text' data-bind='{event: {keyup: filter}, textInput: input}' placeholder='Filter')
      ul(data-bind='foreach: locationList')
        li(data-bind='text: name, visible: visibleBool, click: $parent.showInfo.bind($data,name)')
      div#images
  div#apis
    img(src='img/flikr.png' alt='flickr icon') 
  
  include ./scripts.jade
