script.
  // Show Google Map error message
  function showErrMessage() {
    alert('Google Maps failed to load :-(');
  }
script(src='https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.3.0.js')
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
script(src='js/custom.js')
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGP6-L9ntH38R_At3QT2mvsIDLiTZIfnY&callback=callMap" onerror='showErrMessage()' defer async)
